# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist
tsconfig.tsbuildinfo

# Env (Formspree-ID liegt im Code)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug / IDE
npm-debug.log*
.DS_Store
*.pem

# Vercel
.vercel
